* {
    font-family: 'Poppins', sans-serif;
}

.post__collection {
    padding-top: 70px;
    padding-bottom: 90px;
    width: 100%;
    max-width: 1240px;
    margin-inline: auto;
    /* padding-inline: 200px; */
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.outer__box {
    min-width: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 2.4rem;
    padding-block: 1.5rem;
    border: 1px solid rgb(65, 65, 65);
    background-color: rgb(253, 253, 253);
}

.inner__box {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}


.image__url {
    width: 80%;
    height: 260px;
    object-fit: cover;
    border-radius: 1.75rem;
    object-fit: cover;
}

.content_box {
    padding-inline: 2rem;
    padding-top: 1rem;
}

.content_box>p {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
    line-height: 2.75rem;
    margin-top: .5rem;
}

.btn__group {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.25rem;
    flex-wrap: wrap;
}

.btn__group a {
    display: block;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: 1px solid rgb(36, 36, 36);
    font-size: 1rem;
    font-weight: 600;
    color: rgb(36, 36, 36);
    font-family: 'Poppins', sans-serif !important;
    transition: all .2s ease;

}

.btn__group a:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width:1024px) {
    .post__collection {
        gap: 1.4rem;
    }

    .outer__box {
        min-width: 40%;
        width: 40%;
    }

    .inner__box {
        width: 100%;
    }

    img {
        object-fit: cover;
        width: 80% !important;
    }

}

@media screen and (max-width:800px) {
    .post__collection {
        gap: 1.4rem;
    }

    .outer__box {
        min-width: 90%;
        width: 90%;
    }

    img {
        width: 80% !important;
    }

}


@media screen and (max-width:678px) {
    .post__collection {
        gap: 1.4rem;
    }

    .outer__box {
        min-width: 40%;
        width: 40%;
    }

    img {
        width: 80% !important;
    }

    .btn__group {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:450px) {
    .outer__box {
        min-width: 90%;
        width: 90%;
    }
}