* {
    font-family: 'Poppins', sans-serif;
}

.post__collection {
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    /* padding-top: 70px;  */
    /* padding-bottom: 50px; */
    /* width: 100%; */
    /* max-width: 1240px; */
    margin-inline: auto;
    /* padding-inline: 200px; */
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

